:root {
  --pale-pink: #f37172;
  --pale-gray: #dde2e4;
  --light-gray: rgba(0, 0, 0, 0.6);
}

html {
  height: auto;
  min-height: 100vh;
  display: flex;
  font-size: 16px;
}

body {
  flex: 1;
  padding: 0.25rem;
}

#nav {
  width: 94%;
  padding: auto auto;
  margin-left: 2%;
  margin-top: 1.5%;
  margin-right: 2%;
}

#btn-sign-in {
  font-family: Montserrat, sans-serif;
  color: #252c32;
  border-color: #dde2e4;
  padding: 10px 16px;
  background-color: #fdfdfd;
}
#btn-sign-in:hover {
  color: #fdfdfd;
  background-color: #f37172;
}

#btn-sign-up {
  background: #f37172;
  border-color: rgb(243, 113, 114);
  font-family: Montserrat, sans-serif;
  color: #fdfdfd;
  padding: 10px 16px;
}

/* main */
main {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

main > section {
  flex: 0.45;
}

h1.section-title {
  color: var(--light-gray);
  font-weight: bold;
}

main section.content {
  margin-right: 0.5rem;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}

form fieldset {
  padding: 0.25rem 0.5rem;
}

form fieldset:nth-child(1),
form fieldset:nth-child(2) {
  display: flex;
  flex-direction: column;
  border-left: 3px solid var(--pale-pink);
}

form fieldset:nth-child(1) input,
form fieldset:nth-child(2) input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  outline: none;
  font-size: 1.125rem;
}

form fieldset:nth-child(1) label,
form fieldset:nth-child(2) label {
  cursor: text;
}
div.input-small-device {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--pale-pink);
}
div.input-small-device > input {
  border: none !important;
  flex: 0.9;
}
div.input-small-device > span {
  flex: 0.1;
  font-size: 0.75rem;
  color: var(--pale-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

form fieldset:nth-child(3) {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label,
a.forgot {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--light-gray);
}
label.custom-color {
  color: var(--pale-pink);
}

form fieldset:nth-child(4) {
  border: none;
}

form fieldset:nth-child(4) input {
  border-radius: 6px;
  color: #fdfdfd;
  cursor: pointer;
  background-color: var(--pale-pink);
  border: 1px solid var(--pale-pink);
}

a.register {
  color: var(--pale-pink);
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid var(--pale-pink);
}

main section.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

main section.image img {
  max-width: 90%;
}

/* making the web responsive */
@media screen and (max-width: 600px) {
  main {
    flex-direction: column-reverse;
  }

  h1.section-title {
    padding-left: 0.5rem;
  }

  main section.image {
    justify-content: flex-end;
    align-items: flex-end;
  }

  main section.image img {
    max-width: 60%;
  }
  form fieldset:nth-child(1),
  form fieldset:nth-child(2) {
    border: none;
  }
  form fieldset:nth-child(1) input,
  form fieldset:nth-child(2) input {
    padding: 0.75rem 1rem;
    border: 1px solid var(--pale-pink);
  }
}

@media screen and (max-width: 300px) {
  form fieldset:nth-child(4),
  form fieldset:nth-child(5) {
    padding: 0;
  }
}
