html {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
}

html body {
  padding: 0.25rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

html body #nav {
  width: 94%;
  padding: auto auto;
  margin-left: 2%;
  margin-top: 1.5%;
  margin-right: 2%;
}

html body #nav #btn-sign-in {
  font-family: Montserrat, sans-serif;
  color: #252c32;
  border-color: #dde2e4;
  padding: 10px 16px;
  background-color: #fdfdfd;
}

html body #nav #btn-sign-in:hover {
  color: #fdfdfd;
  background-color: #f37172;
}

html body #nav #btn-sign-up {
  background: #f37172;
  border-color: #f37172;
  font-family: Montserrat, sans-serif;
  color: #fdfdfd;
  padding: 10px 16px;
}

w3-content {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

html body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

html body main section {
  -webkit-box-flex: 0.35;
  -ms-flex-positive: 0.35;
  flex-grow: 0.35;
}

html body main section h1.section-title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  white-space: nowrap;
}

html body main section#form-content {
  margin-right: 0.5rem;
}

html body main section#form-content form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}

html body main section#form-content form fieldset {
  padding: 0.25rem 0.5rem;
}

html body main section#form-content form fieldset:nth-child(1),
html body main section#form-content form fieldset:nth-child(2),
html body main section#form-content form fieldset:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #fbcdd0;
  border-left: 3px solid #f37172;
}

html body main section#form-content form fieldset:nth-child(1) input,
html body main section#form-content form fieldset:nth-child(2) input,
html body main section#form-content form fieldset:nth-child(3) input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  outline: none;
  font-size: 1.125rem;
}

html body main section#form-content form fieldset:nth-child(1) label,
html body main section#form-content form fieldset:nth-child(2) label,
html body main section#form-content form fieldset:nth-child(3) label {
  cursor: text;
  font-style: 0.75rem;
}

html body main section#form-content form fieldset:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: none;
}

html body main section#form-content form fieldset:nth-child(4) p {
  color: #f37172;
}

html body main section#form-content form fieldset:nth-child(4) div.radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

html
  body
  main
  section#form-content
  form
  fieldset:nth-child(4)
  div.radios
  div.radio-group:nth-child(2) {
  margin-left: 2rem;
}

html body main section#form-content form fieldset:nth-child(5) {
  border: none;
}

html body main section#form-content form fieldset:nth-child(5) input {
  border-radius: 6px;
  color: #fdfdfd;
  cursor: pointer;
  background-color: #f37172;
  border: 1px solid #f37172;
}

html body main section#form-content form a.login {
  font-weight: bold;
  color: #010101;
}

html body main section#form-content form a.login span {
  color: #f37172;
}

html body main section#image-content {
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html body main section#image-content img {
  max-width: 90%;
}

@media screen and (max-width: 700px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  main section#image-content {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 600px) {
  * {
    margin-left: 0;
    margin-right: 0;
  }
  html body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  html body main section h1.section-title {
    color: #010101;
  }
  html body main section#form-content fieldset:nth-child(1),
  html body main section#form-content fieldset:nth-child(2),
  html body main section#form-content fieldset:nth-child(3) {
    border: none !important;
  }
  html body main section#form-content fieldset label {
    color: #f37172;
  }
  html body main section#form-content fieldset div.input-small-device {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid #fbcdd0;
    border-radius: 4px;
  }
  html body main section#form-content fieldset div.input-small-device input {
    -webkit-box-flex: 0.6;
    -ms-flex-positive: 0.6;
    flex-grow: 0.6;
    padding: 0.75rem 1rem;
  }
  html body main section#form-content fieldset div.input-small-device span {
    -webkit-box-flex: 0.4;
    -ms-flex-positive: 0.4;
    flex-grow: 0.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f37172;
  }
  html body main section#image-content {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}
/*# sourceMappingURL=signup.css.map */
