.navigation {
  display: flex;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

body {
  display: block;
  margin: 0 auto;
  justify-content: center;
}

#text-logo {
  width: 168px;
  height: 72px;
  margin-left: 85px;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-sign-up {
  background-color: #f37172;
  padding: 13px 13px;
  height: 88%;
  border: #f37172;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#btn-sign-in {
  margin-left: 8px;
  padding: 13px 13px;
  height: 88%;
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 4px;
  color: #979797;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#hamburger-menu {
  width: 38px;
  height: 32px;
  margin-left: 42px;
  margin-right: 85px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 74px;
  margin-left: 130px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#sub-title {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-left: 130px;
  margin-top: 18px;
}

#btn-sign-up-free {
  margin-left: 130px;
  background-color: #f37172;
  padding: 13px 13px;
  border: #f37172;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.main {
  display: flex;
}

#picture {
  position: relative;
  width: 454.4px;
  height: 478.8px;
  top: 75px;
  left: 290px;
}

.footer {
  margin-left: 130px;
  clear: both;
  display: table;
}

.row {
  display: flex;
}

#download-title {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 72px;
}

#play {
  width: 158px;
  height: 46.81px;
  margin-left: 8px;
}

#apple {
  width: 161px;
  height: 47.65px;
}
