:root {
  --pale-pink: #f37172;
  --pale-gray: #dde2e4;
  --light-gray: rgba(0, 0, 0, 0.6);
}

html {
  height: auto;
  min-height: 100vh;
  font-size: 16px;
}

#nav {
  width: 94%;
  padding: auto auto;
  margin-left: 2%;
  margin-top: 1.5%;
  margin-right: 2%;
}

#btn-sign-in {
  font-family: Montserrat, sans-serif;
  color: #252c32;
  border-color: #dde2e4;
  padding: 10px 16px;
  background-color: #fdfdfd;
}
#btn-sign-in:hover {
  color: #fdfdfd;
  background-color: #f37172;
}

#btn-sign-up {
  background: #f37172;
  border-color: rgb(243, 113, 114);
  font-family: Montserrat, sans-serif;
  color: #fdfdfd;
  padding: 10px 16px;
}

#main {
  max-width: 92%;
  width: 90%;
  margin-top: 2%;
}

body {
  flex: 1;
  padding: 0.25rem;
}

#title {
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 58px;
  margin-top: 6%;
}

#sub-title {
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  margin-top: 2%;
  max-width: 75%;
}

.container {
  margin-right: 0px;
  margin-left: 6%;
  padding: 0px 0px;
  position: relative;
}

#btn-sign-up-feature {
  padding: 9px 16px;
  padding-top: 9px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 6%;
  background: rgb(243, 113, 114);
}

.download-title {
  width: 90%;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 6%;
}

.download-title h1 {
  font-size: 18px;
  font-family: "Montserrat";
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f37172;
  border-color: #f37172;
}

#content-image-mobile {
  display: none;
}

#content-image {
  display: block;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 71%;
}

.store {
  padding: 4px 0;
  margin-right: 0px;
  margin-left: 4%;
  padding: 0px;
}

.store ul {
  padding: 0px 2%;
  list-style: none;
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.store li {
  padding: 0px 0px;
}

@media only screen and (max-width: 768px) {
  #content-image {
    display: block;
    margin-top: 36px;
    width: 200%;
  }

  #content-image-mobile {
    display: block;
    width: 90%;
    margin: 40px 0px;
  }

  #content-image {
    display: none;
  }

  #sub-title {
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    margin-top: 2%;
    max-width: 100%;
  }

  #nav {
    width: 100%;
    padding: auto auto;
    margin-left: 4px;
    margin-top: 32px;
  }

  .download-title {
    padding-top: 36px;
  }

  .store {
    width: 100%;
    margin-right: 2px;
  }
}
