@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'BalooBhai';
	src: url('/src/assets/fonts/BalooBhai-Regular.ttf') 
  format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: url('/src/assets/fonts/Montserrat-Regular.ttf') 
  format('truetype');
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	/* color: rgba(255, 255, 255, 0.87); */
	/* background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

