<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ AndroidManifest.xml Created by Samiur Prapon
  ~ Last modified  7/30/21, 6:23 PM
  ~ Copyright (c) 2021. All rights reserved.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="life.nsu.aether">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aether"
        tools:ignore="AllowBackup">
        <activity android:name=".views.home.StudentHomeActivity"/>
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.RegistrationActivity" />
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>