* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;

	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;

	// set background color to dark mode [Temporary]
	background-color: #0a0416;
	color: white;

	//to avoid default blue border on focus
	&:focus {
		outline: 0 !important;
	}

	&:before,
	&:after {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
}
