.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.hide {
	display: none;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: end;
}

.flex-aligned {
	display: flex;
	align-items: center;
}
