* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;

  //to avoid default blue border on focus
  &:focus {
    outline: 0 !important;
  }

  &:before,
  &:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  // ::selection {
  //   background: #f5f5f5;
  //   color: #000;
  // }
}
