.footer-bar {
  padding: 3rem 0;

  .footer-menu {
    color: $liver;
    font-family: Montserrat, sans-serif;

    ul {
      display: flex;
      justify-content: center;
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 1.125rem;
      line-height: 1.6;
      margin-bottom: 0;

      li {
        padding: 0 0.625rem;

        a {
          color: inherit;
          text-decoration: none;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

  }

  .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 0.875rem;
      color: $silver;
      font-weight: 400;
      margin-top: 1rem;
    }
  }
}
