<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico in the root directory -->
  <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png" />
  <link rel="manifest" href="static/images/site.webmanifest" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Title -->
  <title>Aether</title>

  <link rel="mask-icon" href="static/images/safari-pinned-tab.svg" color="#5bbad5" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <nav class="navigation">
    <img id="text-logo" src="static/images/logo.svg" alt="">
    <div class="menu-items">
      <button id="btn-sign-up" onclick="">Sign up</button>
      <button id="btn-sign-in" onclick="">Log in</button>
      <img id="hamburger-menu" src="static/images/menu.svg" alt="">
    </div>
  </nav>

  <section class="main">
    <div class="intro">
      <h1>Make<br>learning fun!</h1>
      <p id="sub-title">Where your instructor knows the best<br>way to make you understand.</p>
      <button id="btn-sign-up-free">Sign up for free</button>

      <div class="footer">
        <p id="download-title">Or download the app:</p>
        <div class="row">
          <div id="apple">
            <img src="static/images/apple_store.svg" alt="">
          </div>

          <div id="play">
            <img src="static/images/play_store.svg" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="intro-image">
      <img id="picture" src="static/images/content.png" alt="">
    </div>
  </section>
</body>

</html>