<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Place favicon.ico in the root directory -->
  <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png" />
  <link rel="manifest" href="static/images/site.webmanifest" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <!-- Title -->
  <title>Aether</title>

  <link rel="mask-icon" href="static/images/safari-pinned-tab.svg" color="#5bbad5" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" id="styles" href="static/css/style.css" />
  <link rel="stylesheet" href="static/css/footer.css">
</head>

<body>
  <nav id="nav" class="navbar navbar-light navbar-expand-md bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img class="d-flex justify-content-center" src="static/images/logo.svg">
      </a>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/login">
              <button id="btn-sign-in" class="btn btn-outline-primary" data-toggle="modal" data-target="#signin"
                type="button">Log In
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/signup">
              <button id="btn-sign-up" class="btn btn-primary" data-toggle="modal" data-target="#signup"
                type="button">Sign Up</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="main" class="container">
    <div class="row">
      <section class="col-md-6">
        <h1 id="title">Make<br>learning fun!</h1>
        <img id="content-image-mobile" src="static/images/content.svg">
        <p id="sub-title">Where your instructor knows the best way to make you understand.<br></p>
        <a href="/signup">
          <button id="btn-sign-up-feature" class="btn btn-primary" type="button">Sign up for free</button>
        </a>
      </section>
      <section class="col-md-6">
        <img id="content-image" src="static/images/content.svg">
      </section>
    </div>
  </div>

  <div class="download-title">
    <div class="col" style="padding: 0px;">
      <h1>Or download the app:<br></h1>
    </div>
  </div>

  <div class="store">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#" target="_blank">
          <img src="static/images/play_store.svg" />
        </a>
      </li>

      <li class="list-inline-item">
        <a href="#" target="_blank">
          <img src="static/images/apple_store.svg" />
        </a>
      </li>
    </ul>
  </div>

  <footer class="footer-basic">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
      <li class="list-inline-item"><a href="/terms-conditions">Terms &amp; Conditions</a></li>
      <li class="list-inline-item"><a href="/about">About</a></li>
    </ul>
    <p class="copyright">aether © 2021</p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>