/* global.css */

.logo-nav{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid black;
    white-space: nowrap;
    letter-spacing: 0.05em; /* Adjusted for tighter letter spacing */
    animation: typing 3.5s steps(15, end), blink 0.75s step-end infinite;
  }
  
  /* Flashing animation */
  .flashing {
    animation: flash 1s infinite;
  }
  
  /* Typewriter animation */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* Blinking cursor animation */
  @keyframes blink {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  
  /* Flashing effect */
  @keyframes flash {
    0%, 100% {
      opacity: 1; /* Fully visible */
    }
    50% {
      opacity: 0; /* Fully transparent */
    }
  }
  
