name: Android Build
  
on:
  pull_request:
    branches: [main, android]
    types: [opened, synchronize, closed]
  push:
    branches: [main, android]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Enter to android folder
      run: cd android
    
    - name: Set Up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Change wrapper permissions
      run: chmod +x ./gradlew

    # Run Build Project
    - name: Build gradle project
      run: ./gradlew build

    # Create APK Debug
    - name: Build apk debug project (APK) 
      run: ./gradlew assembleDebug

    # Create APK Release
    - name: Build apk release project (APK) 
      run: ./gradlew assemble


    # Upload Artifact Build
    # Noted For Output [main_project_module]/build/outputs/apk/debug/
    - name: Upload APK Debug
      uses: actions/upload-artifact@v2
      with:
        name: APK(s) debug generated
        path: app/build/outputs/apk/debug/

    # Noted For Output [main_project_module]/build/outputs/apk/release/
    - name: Upload APK Release
      uses: actions/upload-artifact@v2
      with:
        name: APK(s) release generated
        path: app/build/outputs/apk/release/
